spring:
  sql:
    init:
      mode: ${INIT_DB:always}
      schema-locations: "classpath:database-init.sql"

  datasource:
    url: jdbc:mysql://${DATABASE_URL:localhost}:3306/laiex?createDatabaseIfNotExist=true
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:secret}
    driver-class-name: com.mysql.cj.jdbc.Driver

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework.web.reactive.function.client.ExchangeFunctions: TRACE
    org.apache.coyote.http11.Http11InputBuffer: DEBUG

stripe:
  api-key: "sk_test_51Mcvu9EDk5elIuKZAkLIgDLuMgFHJ0Zgq2b8PLtzLeECr5O1c5oP6dPxJWmXrIA5bIpKtKTcr6AWz1Eal32nkVUn00YzbNbrfd"

googleMap:
  apiKey: "AIzaSyC-NwpBTuDCAClqUKGZD9tn67amNc7oNp8"

